{% macro logo() %}

    <svg id="Calque_1" data-name="Calque 1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
         viewBox="0 0 244.18 242.31">
        <defs>

            <filter id="blue-glow" x="-500%" y="-500%" width="1000%" height="1000%">
                <feFlood result="flood" flood-color="#00a6e0" flood-opacity="1"></feFlood>
                <feComposite in="flood" result="mask" in2="SourceGraphic" operator="in"></feComposite>
                <feMorphology in="mask" result="dilated" operator="dilate" radius="2"></feMorphology>
                <feGaussianBlur in="dilated" result="blurred" stdDeviation="5"></feGaussianBlur>
                <feMerge>
                    <feMergeNode in="blurred"></feMergeNode>
                    <feMergeNode in="SourceGraphic"></feMergeNode>
                </feMerge>
            </filter>

            <clipPath id="clip-path" transform="translate(-552.55 -211.35)">
                <circle class="cls-1" cx="675.08" cy="336.16" r="104.63"/>
            </clipPath>
            <symbol id="Nouveau_symbole_2" data-name="Nouveau symbole 2" viewBox="0 0 477.34 477.52">
                <polygon class="cls-2" points="247.04 236.15 252.56 236.15 252.56 263.77 247.04 263.77 247.04 236.15"/>
                <polygon class="cls-2" points="235.99 236.15 241.51 236.15 241.51 263.77 235.99 263.77 235.99 236.15"/>
                <polygon class="cls-2" points="224.94 236.15 230.46 236.15 230.46 263.77 224.94 263.77 224.94 236.15"/>
                <polygon class="cls-2" points="224.94 208.54 224.94 203.02 252.56 203.02 252.56 208.54 224.94 208.54"/>
                <polygon class="cls-2" points="224.94 219.59 224.94 214.07 252.56 214.07 252.56 219.59 224.94 219.59"/>
                <polygon class="cls-2" points="224.94 230.65 224.94 225.12 252.56 225.12 252.56 230.65 224.94 230.65"/>
                <rect class="cls-2" x="224.94" y="192.05" width="5.53" height="5.49"/>
                <rect class="cls-2" x="224.94" y="181.07" width="5.53" height="5.49"/>
                <rect class="cls-2" x="224.94" y="170.1" width="5.53" height="5.49"/>
                <rect class="cls-2" x="181.05" y="214.01" width="5.53" height="5.49"/>
                <rect class="cls-2" x="170.07" y="214.01" width="5.53" height="5.49"/>
                <rect class="cls-2" x="170.01" y="224.96" width="27.59" height="5.49"/>
                <rect class="cls-2" x="170.01" y="235.94" width="16.56" height="5.49"/>
                <rect class="cls-2" x="170.01" y="257.88" width="5.55" height="54.86"/>
                <rect class="cls-2" x="181.03" y="257.88" width="5.55" height="54.86"/>
                <rect class="cls-2" x="192.02" y="257.88" width="5.55" height="54.86"/>
                <rect class="cls-2" x="203.02" y="257.88" width="5.55" height="16.46"/>
                <rect class="cls-2" x="213.93" y="257.88" width="5.55" height="32.92"/>
                <rect class="cls-2" x="213.93" y="296.28" width="5.55" height="27.43"/>
                <rect class="cls-2" x="203.02" y="279.83" width="5.55" height="5.49"/>
                <rect class="cls-2" x="203.02" y="290.8" width="5.55" height="5.49"/>
                <rect class="cls-2" x="203.02" y="318.23" width="5.55" height="5.49"/>
                <rect class="cls-2" x="203.02" y="301.77" width="5.55" height="10.97"/>
                <rect class="cls-2" x="65.85" y="318.23" width="131.72" height="5.49"/>
                <rect class="cls-2" x="170.01" y="246.91" width="38.56" height="5.49"/>
                <rect class="cls-2" x="192.01" y="235.94" width="16.56" height="5.49"/>
                <rect class="cls-2" x="181.05" y="203.04" width="5.53" height="5.49"/>
                <rect class="cls-2" x="181.05" y="192.07" width="5.53" height="5.49"/>
                <rect class="cls-2" x="181.05" y="181.07" width="5.53" height="5.49"/>
                <rect class="cls-2" x="181.05" y="170.1" width="5.53" height="5.49"/>
                <rect class="cls-2" x="181.05" y="159.13" width="5.53" height="5.49"/>
                <rect class="cls-2" x="54.84" y="148.16" width="5.53" height="5.49"/>
                <rect class="cls-2" x="54.84" y="137.19" width="5.53" height="5.49"/>
                <rect class="cls-2" x="54.84" y="126.21" width="5.53" height="5.49"/>
                <rect class="cls-2" x="170.07" y="159.13" width="5.53" height="5.49"/>
                <rect class="cls-2" x="181.05" y="98.78" width="5.53" height="10.97"/>
                <rect class="cls-2" x="170.07" y="98.78" width="5.53" height="10.97"/>
                <rect class="cls-2" x="170.07" y="170.1" width="5.53" height="38.4"/>
                <rect class="cls-2" x="181.05" y="137.19" width="5.53" height="16.46"/>
                <rect class="cls-2" x="170.03" y="137.19" width="5.53" height="16.46"/>
                <rect class="cls-2" x="181.05" y="115.24" width="5.53" height="16.46"/>
                <rect class="cls-2" x="170.03" y="115.24" width="5.53" height="16.46"/>
                <rect class="cls-2" y="460.87" width="5.49" height="16.46"/>
                <rect class="cls-2" x="10.97" y="460.87" width="5.49" height="16.46"/>
                <rect class="cls-2" y="427.95" width="5.49" height="16.46"/>
                <rect class="cls-2" x="10.97" y="427.95" width="5.49" height="16.46"/>
                <rect class="cls-2" x="21.95" y="416.98" width="5.49" height="60.35"/>
                <rect class="cls-2" y="449.9" width="5.49" height="5.49"/>
                <rect class="cls-2" x="10.97" y="449.9" width="5.49" height="5.49"/>
                <rect class="cls-2" y="416.98" width="5.49" height="5.49"/>
                <rect class="cls-2" x="10.97" y="416.98" width="5.49" height="5.49"/>
                <rect class="cls-2" y="406.01" width="27.43" height="5.49"/>
                <rect class="cls-2" y="395.04" width="27.43" height="5.49"/>
                <rect class="cls-2" y="384.06" width="27.43" height="5.49"/>
                <rect class="cls-2" y="362.12" width="27.43" height="5.49"/>
                <rect class="cls-2" x="32.92" y="362.12" width="5.49" height="115.21"/>
                <rect class="cls-2" y="373.09" width="16.46" height="5.49"/>
                <rect class="cls-2" x="21.95" y="373.09" width="5.49" height="5.49"/>
                <rect class="cls-2" x="0.04" y="351.15" width="5.49" height="5.49"/>
                <rect class="cls-2" x="10.97" y="351.15" width="5.49" height="5.49"/>
                <rect class="cls-2" x="10.97" y="329.2" width="5.49" height="16.46"/>
                <rect class="cls-2" x="10.97" y="274.34" width="5.49" height="49.38"/>
                <rect class="cls-2" x="0.04" y="274.34" width="5.49" height="71.32"/>
                <rect class="cls-2" y="263.37" width="16.46" height="5.49"/>
                <rect class="cls-2" x="0.04" y="246.91" width="5.44" height="10.97"/>
                <rect class="cls-2" x="10.97" y="246.91" width="5.49" height="10.97"/>
                <rect class="cls-2" y="235.94" width="16.46" height="5.49"/>
                <rect class="cls-2" x="21.95" y="235.94" width="5.49" height="5.49"/>
                <rect class="cls-2" x="32.92" y="235.94" width="5.49" height="5.49"/>
                <rect class="cls-2" x="43.89" y="241.42" width="5.49" height="5.49"/>
                <rect class="cls-2" x="54.86" y="241.42" width="5.49" height="5.49"/>
                <rect class="cls-2" x="65.84" y="241.42" width="10.97" height="5.49"/>
                <polygon class="cls-2" points="65.84 296.28 65.84 301.77 76.81 301.77 76.81 296.28 65.84 296.28"/>
                <polygon class="cls-2" points="65.84 285.31 65.84 290.8 76.81 290.8 76.81 285.31 65.84 285.31"/>
                <polygon class="cls-2" points="65.84 274.34 65.84 279.83 76.81 279.83 76.81 274.34 65.84 274.34"/>
                <polygon class="cls-2" points="65.84 263.37 65.84 268.85 76.81 268.85 76.81 263.37 65.84 263.37"/>
                <polygon class="cls-2" points="65.84 252.4 65.84 257.88 76.81 257.88 76.81 252.4 65.84 252.4"/>
                <polygon class="cls-2" points="0 203.02 0 208.5 10.97 208.5 10.97 203.02 0 203.02"/>
                <polygon class="cls-2" points="0 192.05 0 197.53 10.97 197.53 10.97 192.05 0 192.05"/>
                <polygon class="cls-2" points="0 181.07 0 186.56 10.97 186.56 10.97 181.07 0 181.07"/>
                <polygon class="cls-2" points="0 170.1 0 175.59 10.97 175.59 10.97 170.1 0 170.1"/>
                <polygon class="cls-2" points="0 159.13 0 164.62 10.97 164.62 10.97 159.13 0 159.13"/>
                <rect class="cls-2" x="27.43" y="175.61" width="5.49" height="5.49"/>
                <polygon class="cls-2" points="27.43 197.55 27.43 208.54 32.92 208.54 32.92 197.55 27.43 197.55"/>
                <polygon class="cls-2" points="27.43 186.58 27.43 192.07 32.92 192.07 32.92 186.58 27.43 186.58"/>
                <rect class="cls-2" x="21.95" y="246.91" width="5.49" height="109.72"/>
                <rect class="cls-2" x="32.92" y="246.91" width="5.49" height="109.72"/>
                <rect class="cls-2" x="43.89" y="253" width="5.49" height="103.63"/>
                <rect class="cls-2" x="54.86" y="252.39" width="5.49" height="148.13"/>
                <rect class="cls-2" x="43.89" y="230.45" width="32.92" height="5.49"/>
                <rect class="cls-2" x="0.04" y="225.12" width="38.36" height="5.49"/>
                <rect class="cls-2" x="0.04" y="214.07" width="43.85" height="5.49"/>
                <polygon class="cls-2" points="27.43 170.1 27.43 159.19 32.92 159.19 32.92 170.1 27.43 170.1"/>
                <polygon class="cls-2" points="38.41 208.54 38.41 170.1 43.89 170.1 43.89 208.54 38.41 208.54"/>
                <polygon class="cls-2" points="38.41 164.62 38.41 159.15 43.89 159.15 43.89 164.62 38.41 164.62"/>
                <polygon class="cls-2" points="49.38 153.64 0.02 153.64 0.02 148.16 49.38 148.16 49.38 153.64"/>
                <polygon class="cls-2" points="49.38 142.67 0.02 142.67 0.02 137.19 49.38 137.19 49.38 142.67"/>
                <polygon class="cls-2" points="49.38 131.7 0.02 131.7 0.02 126.21 49.38 126.21 49.38 131.7"/>
                <polygon class="cls-2" points="98.78 153.64 65.84 153.64 65.84 148.16 98.78 148.16 98.78 153.64"/>
                <polygon class="cls-2" points="98.78 142.67 65.84 142.67 65.84 137.19 98.78 137.19 98.78 142.67"/>
                <polygon class="cls-2" points="93.25 131.7 65.84 131.7 65.84 126.21 93.25 126.21 93.25 131.7"/>
                <polygon class="cls-2" points="115.21 104.27 115.21 131.7 109.72 131.7 109.72 104.27 115.21 104.27"/>
                <polygon class="cls-2" points="131.67 126.22 131.67 131.69 120.7 131.69 120.7 126.22 131.67 126.22"/>
                <polygon class="cls-2" points="131.67 115.25 131.67 120.72 120.7 120.72 120.7 115.25 131.67 115.25"/>
                <polygon class="cls-2" points="131.67 104.27 131.67 109.75 120.7 109.75 120.7 104.27 131.67 104.27"/>
                <polygon class="cls-2" points="60.33 120.73 0.02 120.73 0.02 115.24 60.33 115.24 60.33 120.73"/>
                <polygon class="cls-2" points="49.38 109.75 10.98 109.75 10.98 104.27 49.38 104.27 49.38 109.75"/>
                <polygon class="cls-2" points="60.34 98.78 21.95 98.78 21.95 93.3 60.34 93.3 60.34 98.78"/>
                <polygon class="cls-2" points="5.49 109.75 0 109.75 0 38.41 5.49 38.41 5.49 109.75"/>
                <polygon class="cls-2" points="16.45 76.84 10.97 76.84 10.97 38.52 16.45 38.52 16.45 76.84"/>
                <polygon class="cls-2" points="27.4 65.87 21.91 65.87 21.91 38.41 27.4 38.41 27.4 65.87"/>
                <polygon class="cls-2" points="71.31 38.52 71.3 120.73 65.83 120.73 65.84 38.52 71.31 38.52"/>
                <polygon class="cls-2" points="82.28 38.41 82.28 120.73 76.81 120.73 76.81 38.41 82.28 38.41"/>
                <polygon class="cls-2" points="93.25 38.43 93.25 120.73 87.78 120.73 87.78 38.43 93.25 38.43"/>
                <polygon class="cls-2" points="60.35 49.41 60.35 54.89 43.81 54.89 43.81 49.41 60.35 49.41"/>
                <rect class="cls-2" x="32.92" y="49.36" width="5.48" height="16.5"/>
                <rect class="cls-2" x="32.92" y="38.41" width="5.48" height="5.47"/>
                <rect class="cls-2" x="43.9" y="38.41" width="5.48" height="5.47"/>
                <rect class="cls-2" x="54.85" y="38.41" width="5.48" height="5.47"/>
                <polygon class="cls-2" points="60.35 60.38 60.35 65.86 43.81 65.86 43.81 60.38 60.35 60.38"/>
                <polygon class="cls-2" points="153.62 5.52 153.62 0.03 181.05 0.03 181.05 5.52 153.62 5.52"/>
                <polygon class="cls-2" points="274.31 16.49 274.31 11 296.26 11 296.26 16.49 274.31 16.49"/>
                <rect class="cls-2" x="10.97" y="93.3" width="5.49" height="5.48"/>
                <rect class="cls-2" x="10.97" y="82.32" width="38.39" height="5.49"/>
                <rect class="cls-2" x="54.85" y="82.32" width="5.49" height="5.48"/>
                <rect class="cls-2" x="54.85" y="71.35" width="5.49" height="5.48"/>
                <rect class="cls-2" x="54.85" y="104.27" width="5.49" height="5.48"/>
                <rect class="cls-2" x="137.16" y="21.98" width="5.49" height="5.48"/>
                <rect class="cls-2" x="148.13" y="21.98" width="5.49" height="5.48"/>
                <rect class="cls-2" x="159.1" y="21.98" width="5.49" height="5.48"/>
                <rect class="cls-2" x="159.1" y="33.04" width="5.49" height="5.48"/>
                <rect class="cls-2" x="159.1" y="43.88" width="5.49" height="5.48"/>
                <rect class="cls-2" x="159.1" y="54.96" width="5.48" height="5.49"/>
                <rect class="cls-2" x="159.11" y="65.88" width="38.4" height="5.49"/>
                <rect class="cls-2" x="159.11" y="76.81" width="38.4" height="5.49"/>
                <rect class="cls-2" x="159.11" y="87.83" width="38.4" height="5.49"/>
                <rect class="cls-2" x="192.01" y="98.78" width="5.49" height="32.92"/>
                <rect class="cls-2" x="159.1" y="98.92" width="5.49" height="32.78"/>
                <rect class="cls-2" x="159.1" y="137.19" width="5.49" height="27.43"/>
                <rect class="cls-2" x="192.01" y="137.19" width="5.49" height="82.41"/>
                <rect class="cls-2" x="213.96" y="170.1" width="5.49" height="82.41"/>
                <rect class="cls-2" x="202.99" y="186.56" width="5.49" height="43.89"/>
                <rect class="cls-2" x="202.99" y="66.43" width="5.49" height="114.7"/>
                <rect class="cls-2" x="213.97" y="33.22" width="5.49" height="131.39"/>
                <rect class="cls-2" x="170.17" y="54.96" width="5.48" height="5.49"/>
                <rect class="cls-2" x="181.01" y="54.96" width="5.48" height="5.49"/>
                <rect class="cls-2" x="192.02" y="54.96" width="5.48" height="5.49"/>
                <rect class="cls-2" x="203.08" y="54.96" width="5.48" height="5.49"/>
                <polygon class="cls-2" points="170.11 21.98 208.48 21.98 208.46 27.46 170.09 27.46 170.11 21.98"/>
                <rect class="cls-2" x="213.96" y="21.98" width="5.35" height="5.48"/>
                <rect class="cls-2" x="236.07" y="21.98" width="5.35" height="5.48"/>
                <rect class="cls-2" x="236.07" y="33.04" width="5.35" height="5.48"/>
                <rect class="cls-2" x="236.07" y="43.88" width="5.35" height="5.48"/>
                <polygon class="cls-2" points="246.91 21.98 296.26 21.97 296.24 27.46 246.89 27.46 246.91 21.98"/>
                <polygon class="cls-2" points="246.91 33.04 296.26 33.03 296.24 38.52 246.88 38.52 246.91 33.04"/>
                <polygon class="cls-2" points="246.9 43.88 296.26 43.88 296.24 49.36 246.88 49.36 246.9 43.88"/>
                <rect class="cls-2" x="225.02" y="21.98" width="5.35" height="142.67"/>
                <rect class="cls-2" x="236.02" y="54.87" width="5.35" height="71.33"/>
                <rect class="cls-2" x="236.02" y="131.51" width="5.35" height="66.22"/>
                <rect class="cls-2" x="246.88" y="131.51" width="5.49" height="66.22"/>
                <rect class="cls-2" x="246.88" y="54.95" width="5.49" height="71.45"/>
                <rect class="cls-2" x="257.85" y="54.95" width="5.49" height="27.37"/>
                <rect class="cls-2" x="268.82" y="65.87" width="5.49" height="27.37"/>
                <rect class="cls-2" x="268.82" y="98.81" width="5.49" height="76.78"/>
                <rect class="cls-2" x="268.82" y="192.06" width="5.49" height="71.31"/>
                <rect class="cls-2" x="268.01" y="181.07" width="83.1" height="5.49"/>
                <rect class="cls-2" x="279.8" y="65.87" width="5.49" height="32.91"/>
                <rect class="cls-2" x="257.85" y="98.78" width="5.49" height="131.67"/>
                <rect class="cls-2" x="257.85" y="87.43" width="5.49" height="5.81"/>
                <rect class="cls-2" x="268.82" y="54.79" width="5.49" height="5.81"/>
                <rect class="cls-2" x="279.8" y="54.79" width="5.49" height="5.81"/>
                <rect class="cls-2" x="290.77" y="65.72" width="5.49" height="5.81"/>
                <rect class="cls-2" x="290.77" y="54.79" width="5.49" height="5.81"/>
                <polygon class="cls-2" points="170.11 33.04 208.47 33.04 208.46 38.52 170.09 38.52 170.11 33.04"/>
                <polygon class="cls-2" points="170.11 43.88 208.47 43.88 208.46 49.36 170.09 49.36 170.11 43.88"/>
                <rect class="cls-2" x="148.13" y="33.13" width="5.49" height="131.49"/>
                <rect class="cls-2" x="137.16" y="33.13" width="5.49" height="131.49"/>
                <rect class="cls-2" x="126.18" y="21.98" width="5.49" height="76.94"/>
                <rect class="cls-2" x="43.89" y="71.35" width="5.49" height="5.48"/>
                <rect class="cls-2" x="32.91" y="71.35" width="5.49" height="5.48"/>
                <rect class="cls-2" x="21.96" y="71.35" width="5.49" height="5.48"/>
                <rect class="cls-2" x="98.75" y="38.41" width="21.85" height="5.49"/>
                <polygon class="cls-2" points="104.24 71.37 104.24 131.7 98.75 131.7 98.75 71.37 104.24 71.37"/>
                <polygon class="cls-2" points="120.61 71.37 120.61 76.81 109.72 76.81 109.72 71.37 120.61 71.37"/>
                <polygon class="cls-2" points="120.61 82.3 120.61 87.74 109.72 87.74 109.72 82.3 120.61 82.3"/>
                <polygon class="cls-2" points="120.61 93.32 120.61 98.76 109.72 98.76 109.72 93.32 120.61 93.32"/>
                <rect class="cls-2" x="98.75" y="11" width="170.07" height="5.49"/>
                <rect class="cls-2" x="98.74" y="0.03" width="49.39" height="5.49"/>
                <rect class="cls-2" x="186.53" y="0.03" width="109.72" height="5.49"/>
                <polygon class="cls-2" points="109.72 203.76 104.24 203.76 104.24 137.19 109.72 137.19 109.72 203.76"/>
                <polygon class="cls-2" points="109.72 225.12 104.24 225.12 104.24 208.51 109.72 208.5 109.72 225.12"/>
                <polygon class="cls-2" points="109.72 263.37 104.24 263.37 104.24 241.65 109.72 241.65 109.72 263.37"/>
                <polygon class="cls-2" points="109.72 236.15 104.24 236.15 104.24 230.37 109.72 230.37 109.72 236.15"/>
                <polygon class="cls-2" points="120.81 175.59 115.33 175.59 115.33 137.19 120.81 137.19 120.81 175.59"/>
                <polygon class="cls-2" points="120.81 312.74 115.33 312.74 115.33 182.64 120.81 182.64 120.81 312.74"/>
                <polygon class="cls-2" points="131.67 312.74 126.19 312.74 126.19 137.19 131.67 137.19 131.67 312.74"/>
                <polygon class="cls-2" points="142.64 279.83 137.16 279.83 137.16 170.1 142.64 170.1 142.64 279.83"/>
                <polygon class="cls-2" points="153.62 279.83 148.14 279.83 148.14 170.1 153.62 170.1 153.62 279.83"/>
                <polygon class="cls-2" points="164.58 279.83 159.1 279.83 159.1 170.1 164.58 170.1 164.58 279.83"/>
                <polygon class="cls-2" points="142.64 312.74 137.16 312.74 137.16 285.31 142.64 285.31 142.64 312.74"/>
                <polygon class="cls-2" points="153.62 312.74 148.14 312.74 148.14 285.31 153.62 285.31 153.62 312.74"/>
                <polygon class="cls-2" points="164.58 312.74 159.1 312.74 159.1 285.31 164.58 285.31 164.58 312.74"/>
                <polygon class="cls-2" points="109.72 274.63 104.24 274.63 104.24 268.85 109.72 268.85 109.72 274.63"/>
                <polygon class="cls-2" points="109.72 312.74 104.24 312.74 104.24 279.83 109.72 279.83 109.72 312.74"/>
                <polygon class="cls-2" points="98.75 312.74 93.27 312.74 93.27 159.13 98.75 159.13 98.75 312.74"/>
                <polygon class="cls-2" points="87.76 312.74 82.28 312.74 82.28 210.37 87.76 210.37 87.76 312.74"/>
                <polygon class="cls-2" points="87.76 203.02 82.28 203.02 82.28 159.19 87.76 159.19 87.76 203.02"/>
                <polygon class="cls-2" points="76.8 224.96 71.32 224.96 71.32 159.19 76.8 159.19 76.8 224.96"/>
                <polygon class="cls-2" points="65.85 224.96 60.37 224.96 60.37 159.19 65.85 159.19 65.85 224.96"/>
                <polygon class="cls-2" points="54.85 224.96 49.38 224.96 49.38 159.19 54.85 159.19 54.85 224.96"/>
                <polygon class="cls-2" points="16.48 208.54 16.48 170.1 21.97 170.1 21.97 208.54 16.48 208.54"/>
                <polygon class="cls-2" points="16.48 164.62 16.48 159.15 21.95 159.15 21.95 164.62 16.48 164.62"/>
                <rect class="cls-2" x="65.85" y="307.26" width="10.96" height="5.49"/>
                <rect class="cls-2" x="65.85" y="329.2" width="5.48" height="5.49"/>
                <rect class="cls-2" x="87.78" y="329.2" width="5.48" height="5.49"/>
                <rect class="cls-2" x="76.81" y="329.2" width="5.48" height="120.7"/>
                <rect class="cls-2" x="87.78" y="340.17" width="5.48" height="137.15"/>
                <rect class="cls-2" x="98.75" y="329.2" width="5.48" height="5.49"/>
                <rect class="cls-2" x="109.85" y="362.12" width="5.48" height="5.49"/>
                <rect class="cls-2" x="109.85" y="373.09" width="5.48" height="5.49"/>
                <rect class="cls-2" x="109.85" y="449.9" width="5.48" height="27.43"/>
                <rect class="cls-2" x="109.85" y="384.06" width="5.48" height="60.35"/>
                <rect class="cls-2" x="120.82" y="362.12" width="5.48" height="38.4"/>
                <rect class="cls-2" x="120.7" y="406.01" width="5.48" height="71.32"/>
                <rect class="cls-2" x="131.67" y="362.12" width="5.48" height="38.4"/>
                <rect class="cls-2" x="142.64" y="362.12" width="5.48" height="38.4"/>
                <rect class="cls-2" x="109.72" y="329.2" width="27.44" height="5.49"/>
                <rect class="cls-2" x="109.72" y="340.17" width="27.44" height="5.49"/>
                <rect class="cls-2" x="109.72" y="351.15" width="27.44" height="5.49"/>
                <rect class="cls-2" x="257.7" y="329.2" width="16.7" height="5.49"/>
                <rect class="cls-2" x="257.7" y="340.17" width="16.7" height="5.49"/>
                <rect class="cls-2" x="257.7" y="351.15" width="16.7" height="5.49"/>
                <rect class="cls-2" x="142.64" y="329.2" width="109.72" height="5.49"/>
                <rect class="cls-2" x="142.64" y="340.17" width="109.72" height="5.49"/>
                <rect class="cls-2" x="142.64" y="351.15" width="109.72" height="5.49"/>
                <rect class="cls-2" x="153.61" y="362.12" width="148.12" height="5.49"/>
                <rect class="cls-2" x="153.61" y="373.09" width="115.13" height="5.49"/>
                <rect class="cls-2" x="153.61" y="384.06" width="115.13" height="5.49"/>
                <rect class="cls-2" x="153.61" y="395.04" width="115.13" height="5.49"/>
                <rect class="cls-2" x="131.71" y="406.01" width="104.2" height="5.49"/>
                <rect class="cls-2" x="131.67" y="417.16" width="71.35" height="5.49"/>
                <rect class="cls-2" x="131.67" y="427.95" width="71.35" height="5.49"/>
                <rect class="cls-2" x="131.67" y="438.93" width="71.35" height="5.49"/>
                <rect class="cls-2" x="131.67" y="449.9" width="5.49" height="5.49"/>
                <rect class="cls-2" x="142.64" y="449.9" width="5.49" height="5.49"/>
                <rect class="cls-2" x="131.67" y="460.87" width="5.49" height="5.49"/>
                <rect class="cls-2" x="131.67" y="471.84" width="38.4" height="5.49"/>
                <rect class="cls-2" x="142.64" y="460.87" width="27.45" height="5.49"/>
                <polygon class="cls-2" points="181.04 449.89 181.04 477.34 175.56 477.34 175.56 449.89 181.04 449.89"/>
                <polygon class="cls-2" points="192.02 449.89 192.02 477.34 186.53 477.34 186.53 449.89 192.02 449.89"/>
                <polygon class="cls-2" points="202.99 449.89 202.99 477.34 197.5 477.34 197.5 449.89 202.99 449.89"/>
                <polygon class="cls-2" points="213.96 427.94 213.96 460.87 208.48 460.87 208.48 427.94 213.96 427.94"/>
                <polygon class="cls-2" points="224.94 427.94 224.94 460.87 219.45 460.87 219.45 427.94 224.94 427.94"/>
                <polygon class="cls-2" points="235.91 427.94 235.91 460.87 230.42 460.87 230.42 427.94 235.91 427.94"/>
                <polygon class="cls-2" points="213.96 416.98 213.96 422.65 208.48 422.65 208.48 416.98 213.96 416.98"/>
                <polygon class="cls-2" points="224.94 416.98 224.94 422.65 219.45 422.65 219.45 416.98 224.94 416.98"/>
                <polygon class="cls-2" points="235.91 416.98 235.91 422.65 230.42 422.65 230.42 416.98 235.91 416.98"/>
                <polygon class="cls-2" points="257.85 416.98 257.85 422.65 241.39 422.65 241.39 416.98 257.85 416.98"/>
                <polygon class="cls-2" points="263.24 417.07 268.91 417.07 268.92 433.53 263.24 433.53 263.24 417.07"/>
                <polygon class="cls-2" points="257.85 427.86 257.85 433.53 241.39 433.53 241.39 427.86 257.85 427.86"/>
                <polygon class="cls-2" points="268.92 438.83 268.92 444.5 241.39 444.5 241.39 438.83 268.92 438.83"/>
                <polygon class="cls-2" points="279.8 449.81 279.8 455.48 241.39 455.48 241.39 449.81 279.8 449.81"/>
                <polygon class="cls-2" points="279.8 460.78 279.8 466.45 241.39 466.45 241.39 460.78 279.8 460.78"/>
                <polygon class="cls-2" points="279.8 471.75 279.8 477.42 241.39 477.42 241.39 471.75 279.8 471.75"/>
                <polygon class="cls-2" points="213.96 466.36 213.96 477.52 208.48 477.52 208.48 466.36 213.96 466.36"/>
                <polygon class="cls-2" points="224.94 466.36 224.94 477.52 219.45 477.52 219.45 466.36 224.94 466.36"/>
                <polygon class="cls-2" points="235.91 466.36 235.91 477.52 230.42 477.52 230.42 466.36 235.91 466.36"/>
                <polygon class="cls-2" points="241.2 406.01 268.82 406.01 268.82 411.49 241.2 411.49 241.2 406.01"/>
                <polygon class="cls-2" points="274.07 373.09 279.8 373.09 279.8 444.5 274.07 444.5 274.07 373.09"/>
                <rect class="cls-2" x="153.61" y="449.9" width="5.49" height="5.49"/>
                <rect class="cls-2" x="164.6" y="449.9" width="5.49" height="5.49"/>
                <rect class="cls-2" x="98.75" y="340.17" width="5.48" height="71.32"/>
                <rect class="cls-2" x="65.85" y="340.17" width="5.48" height="5.49"/>
                <rect class="cls-2" x="43.9" y="362.12" width="5.48" height="5.49"/>
                <rect class="cls-2" x="65.85" y="351.15" width="5.48" height="76.81"/>
                <rect class="cls-2" x="43.9" y="373.09" width="5.48" height="5.49"/>
                <rect class="cls-2" x="43.9" y="384.06" width="5.48" height="5.49"/>
                <rect class="cls-2" x="43.9" y="395.04" width="5.48" height="82.29"/>
                <rect class="cls-2" x="54.87" y="406.01" width="5.48" height="71.32"/>
                <rect class="cls-2" x="65.85" y="433.44" width="5.48" height="43.89"/>
                <rect class="cls-2" x="76.81" y="455.38" width="5.48" height="21.94"/>
                <rect class="cls-2" x="98.75" y="416.98" width="5.48" height="60.35"/>
                <rect class="cls-2" x="279.8" y="104.27" width="5.49" height="16.46"/>
                <rect class="cls-2" x="290.77" y="104.27" width="16.46" height="5.48"/>
                <rect class="cls-2" x="290.77" y="115.24" width="16.46" height="5.48"/>
                <rect class="cls-2" x="279.8" y="126.21" width="49.37" height="5.48"/>
                <polygon class="cls-2" points="318.2 137.19 318.2 175.59 312.71 175.59 312.71 137.19 318.2 137.19"/>
                <polygon class="cls-2" points="329.17 137.19 329.17 175.59 323.69 175.59 323.69 137.19 329.17 137.19"/>
                <rect class="cls-2" x="279.8" y="137.19" width="27.34" height="5.48"/>
                <rect class="cls-2" x="279.8" y="148.16" width="16.46" height="5.48"/>
                <rect class="cls-2" x="279.8" y="159.13" width="16.46" height="5.48"/>
                <rect class="cls-2" x="279.8" y="170.1" width="27.34" height="5.48"/>
                <polygon class="cls-2" points="307.23 148.16 307.23 164.62 301.74 164.62 301.74 148.16 307.23 148.16"/>
                <rect class="cls-2" x="290.77" y="76.81" width="5.49" height="22.06"/>
                <rect class="cls-2" x="301.74" y="76.81" width="5.49" height="22.06"/>
                <rect class="cls-2" x="301.74" y="0.03" width="5.49" height="71.38"/>
                <rect class="cls-2" x="312.71" y="0.03" width="5.49" height="120.69"/>
                <rect class="cls-2" x="323.69" y="0.03" width="5.49" height="120.69"/>
                <rect class="cls-2" x="334.66" y="0.03" width="5.49" height="5.49"/>
                <rect class="cls-2" x="334.66" y="11" width="93.26" height="5.49"/>
                <rect class="cls-2" x="334.66" y="21.97" width="93.26" height="5.49"/>
                <rect class="cls-2" x="334.66" y="32.98" width="93.26" height="5.49"/>
                <polygon class="cls-2" points="334.66 43.8 334.66 109.75 340.14 109.75 340.14 43.8 334.66 43.8"/>
                <polygon class="cls-2" points="334.66 115.24 334.66 120.78 340.14 120.78 340.14 115.24 334.66 115.24"/>
                <polygon class="cls-2" points="334.66 170.07 334.66 175.62 340.14 175.62 340.14 170.07 334.66 170.07"/>
                <polygon class="cls-2" points="345.63 170.07 345.63 175.62 351.12 175.62 351.12 170.07 345.63 170.07"/>
                <polygon class="cls-2" points="345.63 159.1 345.63 164.65 351.12 164.65 351.12 159.1 345.63 159.1"/>
                <polygon class="cls-2" points="345.63 148.13 345.63 153.67 351.12 153.67 351.12 148.13 345.63 148.13"/>
                <polygon class="cls-2" points="345.63 137.16 345.63 142.7 351.12 142.7 351.12 137.16 345.63 137.16"/>
                <polygon class="cls-2" points="345.63 126.18 345.63 131.73 351.12 131.73 351.12 126.18 345.63 126.18"/>
                <polygon class="cls-2" points="334.66 126.18 334.66 164.65 340.14 164.65 340.14 126.18 334.66 126.18"/>
                <polygon class="cls-2" points="345.63 115.24 345.63 120.78 351.12 120.78 351.12 115.24 345.63 115.24"/>
                <polygon class="cls-2" points="378.55 115.24 378.55 120.78 384.03 120.78 384.03 115.24 378.55 115.24"/>
                <polygon class="cls-2" points="378.55 43.86 378.55 109.78 384.03 109.78 384.03 43.86 378.55 43.86"/>
                <polygon class="cls-2" points="389.52 115.24 389.52 120.78 395.01 120.78 395.01 115.24 389.52 115.24"/>
                <polygon class="cls-2" points="389.52 43.86 389.52 109.78 395.01 109.78 395.01 43.86 389.52 43.86"/>
                <polygon class="cls-2" points="400.49 115.24 400.49 120.78 405.98 120.78 405.98 115.24 400.49 115.24"/>
                <polygon class="cls-2" points="411.44 76.87 411.44 82.41 416.92 82.41 416.92 76.87 411.44 76.87"/>
                <polygon class="cls-2" points="411.44 65.89 411.44 71.44 416.92 71.44 416.92 65.89 411.44 65.89"/>
                <polygon class="cls-2" points="411.44 54.92 411.44 60.47 416.92 60.47 416.92 54.92 411.44 54.92"/>
                <polygon class="cls-2" points="460.81 76.87 460.81 82.41 466.3 82.41 466.3 76.87 460.81 76.87"/>
                <polygon class="cls-2" points="455.38 87.81 455.38 93.35 466.3 93.35 466.3 87.81 455.38 87.81"/>
                <polygon class="cls-2" points="455.38 98.81 455.38 104.36 466.3 104.36 466.3 98.81 455.38 98.81"/>
                <polygon class="cls-2" points="455.38 109.74 455.38 115.28 466.3 115.28 466.3 109.74 455.38 109.74"/>
                <polygon class="cls-2" points="455.38 120.74 455.38 126.29 477.3 126.29 477.3 120.74 455.38 120.74"/>
                <polygon class="cls-2" points="460.81 65.89 460.81 71.44 466.3 71.44 466.3 65.89 460.81 65.89"/>
                <polygon class="cls-2" points="460.81 54.92 460.81 60.47 466.3 60.47 466.3 54.92 460.81 54.92"/>
                <polygon class="cls-2" points="455.36 153.7 455.36 159.25 477.3 159.25 477.3 153.7 455.36 153.7"/>
                <polygon class="cls-2" points="455.35 274.34 455.35 279.89 477.34 279.89 477.34 274.34 455.35 274.34"/>
                <polygon class="cls-2" points="455.35 285.36 455.35 290.91 477.34 290.91 477.34 285.36 455.35 285.36"/>
                <polygon class="cls-2" points="455.36 142.73 455.36 148.27 477.3 148.27 477.3 142.73 455.36 142.73"/>
                <polygon class="cls-2" points="455.36 131.76 455.36 137.3 477.3 137.3 477.3 131.76 455.36 131.76"/>
                <polygon class="cls-2" points="471.81 54.92 471.81 115.24 477.3 115.24 477.3 54.92 471.81 54.92"/>
                <polygon class="cls-2" points="422.44 76.87 422.44 82.41 455.36 82.41 455.36 76.87 422.44 76.87"/>
                <polygon class="cls-2" points="422.44 65.89 422.44 71.44 455.36 71.44 455.36 65.89 422.44 65.89"/>
                <polygon class="cls-2" points="422.44 54.92 422.44 60.47 455.36 60.47 455.36 54.92 422.44 54.92"/>
                <polygon class="cls-2" points="411.44 43.92 411.44 49.49 416.92 49.49 416.92 43.92 411.44 43.92"/>
                <polygon class="cls-2" points="422.44 43.92 422.44 49.49 427.92 49.49 427.92 43.92 422.44 43.92"/>
                <polygon class="cls-2" points="433.36 32.95 433.36 49.41 438.85 49.41 438.85 32.95 433.36 32.95"/>
                <polygon class="cls-2" points="444.35 49.44 455.38 49.44 455.38 43.95 444.35 43.95 444.35 49.44"/>
                <polygon class="cls-2" points="460.88 43.92 460.88 49.49 466.37 49.49 466.37 43.92 460.88 43.92"/>
                <polygon class="cls-2" points="471.81 43.92 471.81 49.49 477.3 49.49 477.3 43.92 471.81 43.92"/>
                <polygon class="cls-2" points="411.44 120.73 411.44 126.27 438.9 126.27 438.9 120.73 411.44 120.73"/>
                <polygon class="cls-2" points="422.44 131.7 422.44 137.24 427.92 137.24 427.92 131.7 422.44 131.7"/>
                <polygon class="cls-2" points="400.49 43.86 400.49 109.78 405.98 109.78 405.98 43.86 400.49 43.86"/>
                <polygon class="cls-2" points="356.6 115.33 356.6 186.56 362.09 186.56 362.09 115.33 356.6 115.33"/>
                <polygon class="cls-2" points="367.58 43.92 367.58 186.56 373.06 186.56 373.06 43.92 367.58 43.92"/>
                <polygon class="cls-2" points="345.63 43.8 345.63 109.75 351.12 109.75 351.12 43.8 345.63 43.8"/>
                <polygon class="cls-2" points="356.6 43.86 356.6 109.81 362.09 109.81 362.09 43.86 356.6 43.86"/>
                <rect class="cls-2" x="345.69" width="5.49" height="5.49"/>
                <rect class="cls-2" x="356.6" y="0.03" width="5.49" height="5.49"/>
                <rect class="cls-2" x="367.63" width="5.49" height="5.49"/>
                <rect class="cls-2" x="378.55" y="0.03" width="5.49" height="5.49"/>
                <rect class="cls-2" x="389.58" width="5.49" height="5.49"/>
                <rect class="cls-2" x="400.49" width="43.89" height="5.49"/>
                <rect class="cls-2" x="449.87" width="27.43" height="5.49"/>
                <rect class="cls-2" x="433.41" y="11" width="27.43" height="5.49"/>
                <rect class="cls-2" x="466.43" y="11" width="10.87" height="5.49"/>
                <polygon class="cls-2" points="444.35 27.46 477.27 27.46 477.27 21.97 444.35 21.97 444.35 27.46"/>
                <polygon class="cls-2" points="444.35 38.46 477.27 38.46 477.27 32.98 444.35 32.98 444.35 38.46"/>
                <polygon class="cls-2" points="433.41 27.46 438.8 27.46 438.8 21.97 433.41 21.97 433.41 27.46"/>
                <rect class="cls-2" x="257.85" y="235.94" width="5.49" height="5.49"/>
                <rect class="cls-2" x="257.85" y="246.91" width="5.49" height="16.46"/>
                <rect class="cls-2" x="279.8" y="192.05" width="27.43" height="5.49"/>
                <rect class="cls-2" x="279.8" y="203.04" width="43.89" height="5.49"/>
                <rect class="cls-2" x="312.72" y="192.05" width="5.48" height="5.49"/>
                <rect class="cls-2" x="323.69" y="192.05" width="10.97" height="5.49"/>
                <rect class="cls-2" x="340.14" y="192.05" width="32.92" height="5.49"/>
                <rect class="cls-2" x="389.52" y="197.53" width="38.43" height="5.49"/>
                <polygon class="cls-2" points="444.48 197.53 444.48 224.82 449.97 224.82 449.97 197.53 444.48 197.53"/>
                <polygon class="cls-2" points="433.41 197.53 433.41 203.04 438.9 203.04 438.9 197.53 433.41 197.53"/>
                <polygon class="cls-2" points="433.41 208.53 433.41 224.82 438.9 224.82 438.9 208.53 433.41 208.53"/>
                <polygon class="cls-2" points="455.38 208.53 455.38 225.08 460.87 225.08 460.87 208.53 455.38 208.53"/>
                <polygon class="cls-2" points="466.34 214 477.29 214 477.29 208.51 466.34 208.51 466.34 214"/>
                <polygon class="cls-2" points="466.34 225.08 477.29 225.08 477.29 219.6 466.34 219.6 466.34 225.08"/>
                <polygon class="cls-2" points="455.35 197.53 455.35 203.04 477.29 203.04 477.29 197.53 455.35 197.53"/>
                <polygon class="cls-2" points="433.4 274.34 433.4 290.8 438.88 290.8 438.88 274.34 433.4 274.34"/>
                <polygon class="cls-2" points="444.48 274.34 444.48 290.8 449.97 290.8 449.97 274.34 444.48 274.34"/>
                <rect class="cls-2" x="340.14" y="203.04" width="32.92" height="5.49"/>
                <rect class="cls-2" x="329.17" y="203.04" width="5.48" height="5.49"/>
                <rect class="cls-2" x="279.8" y="214.09" width="5.48" height="27.21"/>
                <rect class="cls-2" x="290.73" y="214.09" width="5.48" height="27.21"/>
                <rect class="cls-2" x="301.74" y="214.09" width="5.48" height="27.21"/>
                <rect class="cls-2" x="312.67" y="214.09" width="5.48" height="27.21"/>
                <rect class="cls-2" x="323.69" y="225.16" width="5.48" height="16.19"/>
                <rect class="cls-2" x="334.62" y="225.16" width="5.48" height="16.19"/>
                <rect class="cls-2" x="345.63" y="225.16" width="5.48" height="16.19"/>
                <rect class="cls-2" x="356.56" y="225.16" width="5.48" height="16.19"/>
                <rect class="cls-2" x="367.57" y="213.99" width="5.48" height="27.36"/>
                <rect class="cls-2" x="378.5" y="230.52" width="5.48" height="10.83"/>
                <rect class="cls-2" x="389.5" y="230.52" width="5.48" height="10.83"/>
                <rect class="cls-2" x="362.17" y="455.46" width="5.48" height="10.83"/>
                <rect class="cls-2" x="373.1" y="455.46" width="5.48" height="10.83"/>
                <rect class="cls-2" x="384.11" y="455.46" width="5.48" height="10.83"/>
                <rect class="cls-2" x="395.04" y="455.46" width="5.48" height="10.83"/>
                <rect class="cls-2" x="406.06" y="455.46" width="5.48" height="10.83"/>
                <rect class="cls-2" x="416.99" y="455.46" width="5.48" height="10.83"/>
                <rect class="cls-2" x="428" y="455.46" width="5.48" height="10.83"/>
                <rect class="cls-2" x="438.93" y="455.46" width="5.48" height="10.83"/>
                <rect class="cls-2" x="449.94" y="455.46" width="5.48" height="10.83"/>
                <rect class="cls-2" x="460.85" y="455.46" width="5.48" height="10.83"/>
                <rect class="cls-2" x="471.76" y="455.46" width="5.48" height="10.83"/>
                <polygon class="cls-2" points="378.52 148.16 378.52 159.1 384.06 159.1 384.06 148.16 378.52 148.16"/>
                <polygon class="cls-2" points="389.49 148.16 389.49 159.1 395.04 159.1 395.04 148.16 389.49 148.16"/>
                <rect class="cls-2" x="378.55" y="137.19" width="16.46" height="5.54"/>
                <rect class="cls-2" x="378.55" y="126.21" width="16.46" height="5.54"/>
                <polygon class="cls-2" points="400.46 126.18 400.46 142.73 406.01 142.73 406.01 126.18 400.46 126.18"/>
                <polygon class="cls-2" points="400.46 148.16 400.46 159.13 406.01 159.13 406.01 148.16 400.46 148.16"/>
                <polygon class="cls-2" points="422.41 142.64 422.41 159.25 427.95 159.25 427.95 142.64 422.41 142.64"/>
                <polygon class="cls-2" points="411.46 115.33 438.9 115.33 438.89 109.78 411.46 109.78 411.46 115.33"/>
                <polygon class="cls-2" points="411.46 104.36 438.9 104.36 438.89 98.81 411.46 98.81 411.46 104.36"/>
                <polygon class="cls-2" points="411.46 93.39 438.9 93.39 438.89 87.84 411.46 87.84 411.46 93.39"/>
                <polygon class="cls-2" points="433.44 131.7 433.44 137.24 438.93 137.24 438.93 131.7 433.44 131.7"/>
                <polygon class="cls-2" points="433.41 142.64 433.41 159.25 438.95 159.25 438.95 142.64 433.41 142.64"/>
                <polygon class="cls-2" points="444.41 131.7 444.41 137.24 449.9 137.24 449.9 131.7 444.41 131.7"/>
                <polygon class="cls-2" points="444.38 142.64 444.38 159.25 449.93 159.25 449.93 142.64 444.38 142.64"/>
                <polygon class="cls-2" points="444.38 87.84 444.38 126.3 449.93 126.3 449.93 87.84 444.38 87.84"/>
                <polygon class="cls-2" points="411.41 131.7 411.41 159.25 416.95 159.25 416.95 131.7 411.41 131.7"/>
                <rect class="cls-2" x="378.55" y="175.62" width="5.49" height="49.35"/>
                <rect class="cls-2" x="389.52" y="175.59" width="38.39" height="5.49"/>
                <rect class="cls-2" x="389.52" y="186.56" width="87.76" height="5.49"/>
                <rect class="cls-2" x="432.94" y="175.59" width="44.34" height="5.49"/>
                <rect class="cls-2" x="378.52" y="164.26" width="98.78" height="5.81"/>
                <rect class="cls-2" x="400.46" y="230.45" width="76.83" height="5.48"/>
                <rect class="cls-2" x="279.8" y="246.87" width="32.88" height="5.48"/>
                <rect class="cls-2" x="224.47" y="268.85" width="49.61" height="5.48"/>
                <rect class="cls-2" x="329.19" y="246.87" width="32.88" height="5.48"/>
                <rect class="cls-2" x="318.22" y="246.87" width="5.47" height="5.48"/>
                <rect class="cls-2" x="367.58" y="246.87" width="5.47" height="5.48"/>
                <rect class="cls-2" x="471.81" y="296.29" width="5.47" height="5.48"/>
                <rect class="cls-2" x="378.56" y="246.87" width="16.45" height="5.48"/>
                <rect class="cls-2" x="367.58" y="268.85" width="5.47" height="5.48"/>
                <rect class="cls-2" x="378.56" y="268.85" width="16.45" height="5.48"/>
                <rect class="cls-2" x="367.58" y="279.83" width="5.47" height="5.48"/>
                <rect class="cls-2" x="329.17" y="301.77" width="5.47" height="5.48"/>
                <rect class="cls-2" x="340.13" y="301.77" width="5.47" height="5.48"/>
                <rect class="cls-2" x="351.11" y="301.77" width="5.47" height="5.48"/>
                <rect class="cls-2" x="378.56" y="279.83" width="16.45" height="5.48"/>
                <rect class="cls-2" x="367.58" y="290.8" width="27.43" height="5.48"/>
                <rect class="cls-2" x="362.08" y="301.77" width="32.87" height="5.48"/>
                <rect class="cls-2" x="340.14" y="279.83" width="21.94" height="5.48"/>
                <rect class="cls-2" x="301.75" y="301.77" width="21.94" height="5.48"/>
                <polygon class="cls-2" points="307.22 323.73 307.22 329.2 301.74 329.2 301.74 323.73 307.22 323.73"/>
                <polygon class="cls-2" points="307.22 334.68 307.22 356.75 301.74 356.75 301.74 334.68 307.22 334.68"/>
                <polygon class="cls-2" points="318.17 323.73 318.17 329.2 312.69 329.2 312.69 323.73 318.17 323.73"/>
                <polygon class="cls-2" points="318.17 334.68 318.17 356.75 312.69 356.75 312.69 334.68 318.17 334.68"/>
                <polygon class="cls-2" points="351.1 345.66 351.1 351.14 345.61 351.14 345.61 345.66 351.1 345.66"/>
                <polygon class="cls-2" points="362.04 345.66 362.04 351.14 356.56 351.14 356.56 345.66 362.04 345.66"/>
                <polygon class="cls-2" points="373.05 345.66 373.05 351.14 367.56 351.14 367.56 345.66 373.05 345.66"/>
                <polygon class="cls-2" points="384 345.66 384 351.14 378.51 351.14 378.51 345.66 384 345.66"/>
                <polygon class="cls-2" points="394.99 345.66 394.99 351.14 389.51 351.14 389.51 345.66 394.99 345.66"/>
                <polygon class="cls-2" points="405.94 345.66 405.94 351.14 400.46 351.14 400.46 345.66 405.94 345.66"/>
                <polygon class="cls-2" points="416.88 345.66 416.88 351.14 411.39 351.14 411.39 345.66 416.88 345.66"/>
                <rect class="cls-2" x="301.75" y="312.74" width="82.36" height="5.48"/>
                <rect class="cls-2" x="323.66" y="323.72" width="93.18" height="5.48"/>
                <rect class="cls-2" x="323.66" y="334.68" width="93.18" height="5.48"/>
                <rect class="cls-2" x="433.42" y="296.29" width="32.91" height="5.48"/>
                <polygon class="cls-2" points="433.42 307.26 438.89 307.26 438.89 312.74 433.42 312.74 433.42 307.26"/>
                <polygon class="cls-2" points="438.91 318.23 444.38 318.23 444.38 351.13 438.91 351.13 438.91 318.23"/>
                <polygon class="cls-2" points="449.86 318.23 455.33 318.23 455.33 351.13 449.86 351.13 449.86 318.23"/>
                <polygon class="cls-2" points="460.83 318.23 466.3 318.23 466.3 351.13 460.83 351.13 460.83 318.23"/>
                <polygon class="cls-2" points="471.79 318.23 477.26 318.23 477.26 351.13 471.79 351.13 471.79 318.23"/>
                <polygon class="cls-2" points="444.38 307.26 477.28 307.26 477.28 312.74 444.38 312.74 444.38 307.26"/>
                <rect class="cls-2" x="224.94" y="279.76" width="109.72" height="5.48"/>
                <rect class="cls-2" x="224.94" y="290.8" width="137.13" height="5.48"/>
                <rect class="cls-2" x="224.94" y="301.77" width="49.47" height="5.48"/>
                <polygon class="cls-2" points="285.28 301.77 285.28 356.63 279.8 356.63 279.8 301.77 285.28 301.77"/>
                <polygon class="cls-2" points="296.37 301.77 296.37 356.63 290.89 356.63 290.89 301.77 296.37 301.77"/>
                <rect class="cls-2" x="433.41" y="241.42" width="43.87" height="5.48"/>
                <rect class="cls-2" x="433.41" y="263.37" width="43.87" height="5.48"/>
                <rect class="cls-2" x="400.49" y="241.42" width="5.49" height="76.81"/>
                <rect class="cls-2" x="411.41" y="241.42" width="5.49" height="76.81"/>
                <rect class="cls-2" x="422.38" y="241.42" width="5.49" height="76.81"/>
                <rect class="cls-2" x="285.14" y="373.09" width="5.63" height="21.94"/>
                <rect class="cls-2" x="285.14" y="400.52" width="5.63" height="76.81"/>
                <rect class="cls-2" x="296.26" y="373.09" width="5.63" height="21.94"/>
                <rect class="cls-2" x="307.18" y="362.12" width="5.63" height="32.92"/>
                <polygon class="cls-2" points="427.85 356.78 427.85 362.41 362.1 362.41 362.1 356.78 427.85 356.78"/>
                <polygon class="cls-2" points="307.25 268.78 307.25 274.41 279.82 274.41 279.82 268.78 307.25 268.78"/>
                <polygon class="cls-2" points="362.1 268.78 362.1 274.41 312.71 274.41 312.71 268.78 362.1 268.78"/>
                <polygon class="cls-2" points="395.04 257.77 395.04 263.4 279.8 263.4 279.8 257.77 395.04 257.77"/>
                <polygon class="cls-2" points="356.6 389.48 356.6 395.11 329.17 395.11 329.17 389.48 356.6 389.48"/>
                <polygon class="cls-2" points="345.62 367.75 345.62 373.38 329.17 373.38 329.17 367.75 345.62 367.75"/>
                <polygon class="cls-2" points="356.61 367.75 356.61 373.38 351.12 373.38 351.12 367.75 356.61 367.75"/>
                <polygon class="cls-2" points="438.83 356.78 438.83 362.41 433.34 362.41 433.34 356.78 438.83 356.78"/>
                <polygon class="cls-2" points="449.87 356.78 449.87 362.41 444.38 362.41 444.38 356.78 449.87 356.78"/>
                <polygon class="cls-2" points="460.84 356.78 460.84 362.41 455.36 362.41 455.36 356.78 460.84 356.78"/>
                <polygon class="cls-2" points="477.3 356.78 477.3 362.41 466.3 362.41 466.3 356.78 477.3 356.78"/>
                <polygon class="cls-2" points="477.31 367.75 477.31 373.38 471.81 373.38 471.81 367.75 477.31 367.75"/>
                <polygon class="cls-2" points="477.31 378.72 477.31 384.35 471.81 384.35 471.81 378.72 477.31 378.72"/>
                <polygon class="cls-2" points="477.31 411.71 477.31 417.33 471.81 417.33 471.81 411.71 477.31 411.71"/>
                <polygon class="cls-2" points="477.31 422.68 477.31 428.31 471.81 428.31 471.81 422.68 477.31 422.68"/>
                <polygon class="cls-2" points="466.34 411.71 466.34 417.33 460.84 417.33 460.84 411.71 466.34 411.71"/>
                <polygon class="cls-2" points="466.34 422.68 466.34 428.31 460.84 428.31 460.84 422.68 466.34 422.68"/>
                <polygon class="cls-2" points="477.31 389.91 477.31 395.54 460.84 395.54 460.84 389.91 477.31 389.91"/>
                <polygon class="cls-2" points="477.31 400.89 477.31 406.51 460.84 406.51 460.84 400.89 477.31 400.89"/>
                <polygon class="cls-2" points="427.78 422.68 433.41 422.68 433.41 428.18 427.78 428.18 427.78 422.68"/>
                <polygon class="cls-2" points="438.76 422.68 444.38 422.68 444.38 428.18 438.76 428.18 438.76 422.68"/>
                <polygon class="cls-2" points="449.73 422.68 455.36 422.68 455.36 428.18 449.73 428.18 449.73 422.68"/>
                <polygon class="cls-2" points="345.62 378.72 345.62 384.35 329.17 384.35 329.17 378.72 345.62 378.72"/>
                <rect class="cls-2" x="373.05" y="367.6" width="5.63" height="16.45"/>
                <rect class="cls-2" x="383.93" y="367.6" width="5.63" height="16.45"/>
                <rect class="cls-2" x="394.95" y="367.83" width="5.63" height="82.29"/>
                <rect class="cls-2" x="362.08" y="367.6" width="5.63" height="16.45"/>
                <rect class="cls-2" x="416.95" y="367.83" width="5.63" height="16.45"/>
                <rect class="cls-2" x="427.83" y="367.83" width="5.63" height="49.36"/>
                <rect class="cls-2" x="438.83" y="367.83" width="5.63" height="49.36"/>
                <rect class="cls-2" x="449.87" y="389.91" width="5.63" height="27.43"/>
                <polygon class="cls-2" points="466.32 367.75 466.32 373.38 449.88 373.38 449.88 367.75 466.32 367.75"/>
                <polygon class="cls-2" points="466.32 378.72 466.32 384.35 449.88 384.35 449.88 378.72 466.32 378.72"/>
                <rect class="cls-2" x="405.98" y="367.83" width="5.63" height="16.45"/>
                <polygon class="cls-2" points="422.43 389.74 422.43 395.37 405.98 395.37 405.98 389.74 422.43 389.74"/>
                <polygon class="cls-2" points="422.43 400.6 422.43 406.23 405.98 406.23 405.98 400.6 422.43 400.6"/>
                <polygon class="cls-2" points="422.43 411.71 422.43 417.34 405.98 417.34 405.98 411.71 422.43 411.71"/>
                <polygon class="cls-2" points="422.43 422.54 422.43 428.17 405.98 428.17 405.98 422.54 422.43 422.54"/>
                <rect class="cls-2" x="405.98" y="433.73" width="5.63" height="5.5"/>
                <polygon class="cls-2" points="416.96 439.36 416.96 433.74 477.31 433.74 477.31 439.36 416.96 439.36"/>
                <polygon class="cls-2" points="471.68 444.41 477.31 444.41 477.31 449.9 471.68 449.9 471.68 444.41"/>
                <polygon class="cls-2" points="466.33 444.34 466.33 449.97 405.98 449.97 405.98 444.34 466.33 444.34"/>
                <polygon class="cls-2" points="477.25 471.77 477.25 477.4 428.12 477.4 428.12 471.77 477.25 471.77"/>
                <polygon class="cls-2" points="383.9 400.52 389.53 400.52 389.53 406.01 383.9 406.01 383.9 400.52"/>
                <polygon class="cls-2" points="378.55 400.59 378.55 406.22 362.1 406.22 362.1 400.59 378.55 400.59"/>
                <polygon class="cls-2" points="389.53 444.63 389.53 450.26 362.1 450.26 362.1 444.63 389.53 444.63"/>
                <polygon class="cls-2" points="422.43 471.77 422.43 477.4 362.1 477.4 362.1 471.77 422.43 471.77"/>
                <polygon class="cls-2" points="383.9 411.49 389.53 411.49 389.53 416.99 383.9 416.99 383.9 411.49"/>
                <polygon class="cls-2" points="378.55 411.42 378.55 417.05 362.1 417.05 362.1 411.42 378.55 411.42"/>
                <rect class="cls-2" x="362.17" y="433.36" width="5.63" height="5.5"/>
                <polygon class="cls-2" points="373.16 439 373.16 433.37 389.6 433.37 389.6 439 373.16 439"/>
                <rect class="cls-2" x="362.1" y="422.39" width="5.63" height="5.5"/>
                <polygon class="cls-2" points="373.09 428.03 373.09 422.4 389.53 422.4 389.53 428.03 373.09 428.03"/>
                <polygon class="cls-2" points="356.61 378.72 356.61 384.35 351.12 384.35 351.12 378.72 356.61 378.72"/>
                <polygon class="cls-2" points="362.15 389.55 367.77 389.55 367.77 395.04 362.15 395.04 362.15 389.55"/>
                <polygon class="cls-2" points="373.05 389.55 378.68 389.55 378.68 395.04 373.05 395.04 373.05 389.55"/>
                <polygon class="cls-2" points="384 389.55 389.63 389.55 389.63 395.04 384 395.04 384 389.55"/>
                <polygon class="cls-2" points="334.73 455.53 334.73 477.33 329.24 477.33 329.24 455.53 334.73 455.53"/>
                <polygon class="cls-2" points="345.63 455.53 345.63 477.33 340.14 477.33 340.14 455.53 345.63 455.53"/>
                <polygon class="cls-2" points="356.61 455.53 356.61 477.33 351.12 477.33 351.12 455.53 356.61 455.53"/>
                <rect class="cls-2" x="307.18" y="400.52" width="5.63" height="5.49"/>
                <rect class="cls-2" x="307.18" y="411.49" width="5.63" height="5.49"/>
                <rect class="cls-2" x="307.18" y="422.47" width="5.63" height="5.49"/>
                <rect class="cls-2" x="307.18" y="433.44" width="5.63" height="5.49"/>
                <rect class="cls-2" x="307.18" y="444.41" width="5.63" height="32.93"/>
                <rect class="cls-2" x="329.17" y="400.52" width="5.63" height="49.69"/>
                <rect class="cls-2" x="340.07" y="400.52" width="5.63" height="49.69"/>
                <rect class="cls-2" x="351.05" y="400.52" width="5.63" height="49.69"/>
                <rect class="cls-2" x="318.06" y="367.6" width="5.63" height="109.73"/>
                <rect class="cls-2" x="296.26" y="400.52" width="5.63" height="76.81"/>
                <polygon class="cls-2" points="389.52 208.51 389.52 224.96 395.01 224.96 395.01 208.51 389.52 208.51"/>
                <polygon class="cls-2" points="400.49 208.51 400.49 224.96 405.98 224.96 405.98 208.51 400.49 208.51"/>
                <polygon class="cls-2" points="411.41 208.51 411.41 224.96 416.89 224.96 416.89 208.51 411.41 208.51"/>
                <polygon class="cls-2" points="422.44 208.51 422.44 224.96 427.92 224.96 427.92 208.51 422.44 208.51"/>
                <polygon class="cls-2" points="224.86 312.74 230.53 312.74 230.53 323.73 224.86 323.73 224.86 312.74"/>
                <polygon class="cls-2" points="235.81 312.74 241.49 312.74 241.49 323.73 235.81 323.73 235.81 312.74"/>
                <polygon class="cls-2" points="246.88 312.74 252.55 312.74 252.55 323.73 246.88 323.73 246.88 312.74"/>
                <polygon class="cls-2" points="257.83 312.74 263.5 312.74 263.5 323.73 257.83 323.73 257.83 312.74"/>
                <polygon class="cls-2" points="268.73 312.74 274.4 312.74 274.4 323.73 268.73 323.73 268.73 312.74"/>
                <polygon class="cls-2" points="455.36 257.88 466.3 257.88 466.3 252.4 455.36 252.4 455.36 257.88"/>
                <polygon class="cls-2" points="444.38 257.88 449.93 257.88 449.93 252.4 444.38 252.4 444.38 257.88"/>
                <polygon class="cls-2" points="433.41 257.88 438.95 257.88 438.95 252.4 433.41 252.4 433.41 257.88"/>
                <polygon class="cls-2" points="471.71 257.88 477.26 257.88 477.26 252.4 471.71 252.4 471.71 257.88"/>
                <rect class="cls-2" x="422.38" y="345.65" width="10.96" height="5.49"/>
                <rect class="cls-2" x="422.38" y="334.67" width="10.96" height="5.49"/>
                <rect class="cls-2" x="422.38" y="323.71" width="10.96" height="5.49"/>
                <rect class="cls-2" x="323.69" y="214" width="38.36" height="5.59"/>
                <rect class="cls-2" x="323.66" y="356.78" width="32.9" height="5.34"/>
                <rect class="cls-2" x="389.5" y="312.74" width="5.47" height="5.48"/>
                <rect class="cls-2" x="323.66" y="345.65" width="16.42" height="5.48"/>
                <rect class="cls-2" x="109.73" y="60.38" width="10.88" height="5.48"/>
                <rect class="cls-2" x="98.75" y="49.41" width="21.85" height="5.48"/>
                <rect class="cls-2" x="98.75" y="60.38" width="5.49" height="5.49"/>
                <rect class="cls-2" x="115.21" y="21.98" width="5.49" height="10.97"/>
                <rect class="cls-2" x="104.24" y="21.98" width="5.49" height="10.97"/>
                <rect class="cls-2" x="93.25" y="21.98" width="5.49" height="10.97"/>
                <rect class="cls-2" x="87.75" y="0.03" width="5.49" height="10.97"/>
                <rect class="cls-2" x="76.78" y="0.03" width="5.49" height="10.97"/>
                <rect class="cls-2" x="65.79" y="0.03" width="5.49" height="10.97"/>
                <rect class="cls-2" x="54.82" y="0.03" width="5.49" height="10.97"/>
                <rect class="cls-2" x="43.85" y="0.03" width="5.49" height="10.97"/>
                <rect class="cls-2" x="32.86" y="0.03" width="5.49" height="10.97"/>
                <rect class="cls-2" x="21.91" y="0.03" width="5.49" height="10.97"/>
                <rect class="cls-2" x="10.92" y="0.03" width="5.49" height="10.97"/>
                <rect class="cls-2" y="0.03" width="5.49" height="10.97"/>
                <rect class="cls-2" y="27.46" width="87.78" height="5.67"/>
                <rect class="cls-2" y="16.49" width="54.84" height="5.67"/>
                <rect class="cls-2" x="60.35" y="16.49" width="5.49" height="5.49"/>
                <rect class="cls-2" x="71.34" y="16.49" width="16.45" height="5.49"/>
            </symbol>
        </defs>
        <title>logo-svg</title>
        <circle cx="123.02" cy="121.16" r="121.16"/>
        <g class="cls-3">
            <g class="cls-4">
                <use id="Nouveau_symbole_2-3" data-name="Nouveau symbole 2" width="477.34" height="477.52"
                     transform="translate(0 12.83) scale(0.47)" xlink:href="#Nouveau_symbole_2"/>
            </g>
        </g>
        <path class="cls-5"
              d="M714.81,317.92a39.37,39.37,0,1,0-64.38,30.42h0q1,.78,2,1.51c2.44,1.92,6.49,5.23,8.26,7.44,2.39,3,3.69,10.42,3.9,13.75a.89.89,0,0,0,.89.84h20.09a.77.77,0,0,0,.77-.72c.19-3.27,1.49-10.84,3.91-13.86,1.77-2.21,5.83-5.53,8.26-7.44q1-.72,2-1.51h0A39.29,39.29,0,0,0,714.81,317.92Z"
              transform="translate(-552.55 -211.35)"/>
        <path class="cls-6"
              d="M672.08,371.64a64.35,64.35,0,0,0-5-24.64c-1.4-3.36-3.26-6.78-6.42-8.6-1.91-1.1-4.28-1.6-5.65-3.34-1.13-1.43-1.29-3.37-1.42-5.18l-.62-9.08a10.75,10.75,0,0,0-1.17-5c-.91-1.47-2.85-2.46-4.42-1.72-1.8.85-2.07,3.33-1.61,5.27a7,7,0,0,0,3.29,4.78c2.17,1.12,6.93.27,11.7-4.1"
              transform="translate(-552.55 -211.35)"/>
        <path class="filament-hover"
              d="M672.08,371.64a64.35,64.35,0,0,0-5-24.64c-1.4-3.36-3.26-6.78-6.42-8.6-1.91-1.1-4.28-1.6-5.65-3.34-1.13-1.43-1.29-3.37-1.42-5.18l-.62-9.08a10.75,10.75,0,0,0-1.17-5c-.91-1.47-2.85-2.46-4.42-1.72-1.8.85-2.07,3.33-1.61,5.27a7,7,0,0,0,3.29,4.78c2.17,1.12,6.93.27,11.7-4.1"
              transform="translate(-552.55 -211.35)"/>
        <path class="cls-6" d="M700,319" transform="translate(-552.55 -211.35)"/>
        <path class="cls-6"
              d="M677.32,371.64a65.9,65.9,0,0,1,5-25c1.4-3.36,3.26-6.78,6.42-8.6,1.91-1.1,4.28-1.6,5.65-3.34,1.13-1.43,1.29-3.37,1.42-5.18.2-3,0-6.12.22-9.14a11.56,11.56,0,0,1,1.65-5.08,4.14,4.14,0,0,1,3-2.1,2.37,2.37,0,0,1,1.18.23"
              transform="translate(-552.55 -211.35)"/>
        <path class="filament-hover"
              d="M677.32,371.64a65.9,65.9,0,0,1,5-25c1.4-3.36,3.26-6.78,6.42-8.6,1.91-1.1,4.28-1.6,5.65-3.34,1.13-1.43,1.29-3.37,1.42-5.18.2-3,0-6.12.22-9.14a11.56,11.56,0,0,1,1.65-5.08,4.14,4.14,0,0,1,3-2.1,2.37,2.37,0,0,1,1.18.23"
              transform="translate(-552.55 -211.35)"/>
        <rect class="cls-2" x="112.25" y="160.28" width="21.17" height="12.27"/>
        <rect class="cls-2" x="112.25" y="173.39" width="21.27" height="1" rx="0.42" ry="0.42"/>
        <rect class="cls-2" x="112.25" y="175.29" width="21.27" height="1" rx="0.42" ry="0.42"/>
        <rect class="cls-2" x="112.25" y="177.18" width="21.27" height="1" rx="0.42" ry="0.42"/>
        <path class="cls-2"
              d="M685.72,390.42H665.14a.34.34,0,0,0-.35.35c.15,1.3,1.15,4.34,2.29,4.72a34.29,34.29,0,0,0,8,.64,41.61,41.61,0,0,0,8.7-.64c1.14-.39,2.14-3.42,2.29-4.72A.34.34,0,0,0,685.72,390.42Z"
              transform="translate(-552.55 -211.35)"/>
        <rect class="cls-2" x="118.13" y="183.9" width="9.52" height="2.33"/>
        <path class="cls-6" d="M654,319.75" transform="translate(-552.55 -211.35)"/>
        <path class="cls-6"
              d="M668.41,319c0,.1-.6.7-1.09,1.27a7.63,7.63,0,0,1-2.52,1.7,3.41,3.41,0,0,1-2.94.24c-1.5-.71-1.11-2.75-.57-4a11,11,0,0,1,2.07-2.9,9.52,9.52,0,0,1,2.32-1.82,6.39,6.39,0,0,1,3.32-.93c.21,0,1.41,0,1.85.51m3.26-8.73a.39.39,0,0,1,.21.54c-1.25,3-2.5,6.11-3.9,9.12l-.75,1.75-.64,1.47a19.28,19.28,0,0,0-.79,2.29,5.61,5.61,0,0,0-.18,1.32,1.08,1.08,0,0,0,.18.75c.46.43,1.25-.43,1.54-.72a20.58,20.58,0,0,0,1.89-2l1.29-1.57c.29-.32,1-1.38,1.56-1.92"
              transform="translate(-552.55 -211.35)"/>
        <path class="cls-6"
              d="M702.7,314.3c3.59,7.27-10.91,1.63-10.91,1.63-3,1.42-2.44-4.27.19-3.48,2.32.69-3.11,6.63-5,8.17a8.21,8.21,0,0,1-2,1.24c-3.1.58-1.65-5.35-1.07-7.37a.09.09,0,0,0-.17-.07L681,318.79c-.07.11-.94,1-.24.32.46-.47-.92.94-1.44,1.39-1.14,1-2.65,2-4.22,1.79a2.12,2.12,0,0,1-1.72-1.22,4.45,4.45,0,0,1-.07-2.65,9.74,9.74,0,0,1,2.79-4.79,4.2,4.2,0,0,1,2-1.14,1.73,1.73,0,0,1,2.07.93c.36,1.29-.86,2.39-1.79,3a11.79,11.79,0,0,1-2.57,1.14,7.75,7.75,0,0,1-.86.25l-1.55.21"
              transform="translate(-552.55 -211.35)"/>
        <path class="filament-hover"
              d="M668.41,319c0,.1-.6.7-1.09,1.27a7.63,7.63,0,0,1-2.52,1.7,3.41,3.41,0,0,1-2.94.24c-1.5-.71-1.11-2.75-.57-4a11,11,0,0,1,2.07-2.9,9.52,9.52,0,0,1,2.32-1.82,6.39,6.39,0,0,1,3.32-.93c.21,0,1.41,0,1.85.51m3.26-8.73a.39.39,0,0,1,.21.54c-1.25,3-2.5,6.11-3.9,9.12l-.75,1.75-.64,1.47a19.28,19.28,0,0,0-.79,2.29,5.61,5.61,0,0,0-.18,1.32,1.08,1.08,0,0,0,.18.75c.46.43,1.25-.43,1.54-.72a20.58,20.58,0,0,0,1.89-2l1.29-1.57c.29-.32,1-1.38,1.56-1.92"
              transform="translate(-552.55 -211.35)"/>
        <path class="filament-hover"
              d="M702.7,314.3c3.59,7.27-10.91,1.63-10.91,1.63-3,1.42-2.44-4.27.19-3.48,2.32.69-3.11,6.63-5,8.17a8.21,8.21,0,0,1-2,1.24c-3.1.58-1.65-5.35-1.07-7.37a.09.09,0,0,0-.17-.07L681,318.79c-.07.11-.94,1-.24.32.46-.47-.92.94-1.44,1.39-1.14,1-2.65,2-4.22,1.79a2.12,2.12,0,0,1-1.72-1.22,4.45,4.45,0,0,1-.07-2.65,9.74,9.74,0,0,1,2.79-4.79,4.2,4.2,0,0,1,2-1.14,1.73,1.73,0,0,1,2.07.93c.36,1.29-.86,2.39-1.79,3a11.79,11.79,0,0,1-2.57,1.14,7.75,7.75,0,0,1-.86.25l-1.55.21"
              transform="translate(-552.55 -211.35)"/>
        <path class="cls-6" d="M701,313.25" transform="translate(-552.55 -211.35)"/>
        <circle class="cls-7" cx="123.07" cy="121.15" r="103.35"/>
        <text class="cls-8" transform="translate(63.74 79.25) rotate(-48.69)">A</text>
        <text class="cls-8" transform="matrix(0.82, -0.57, 0.57, 0.82, 75.39, 65.92)">P</text>
        <text class="cls-8" transform="matrix(0.93, -0.37, 0.37, 0.93, 89.06, 56.33)">E</text>
        <text class="cls-8" transform="translate(103.36 50.31) rotate(-8.4)">R</text>
        <text class="cls-8" transform="matrix(1, 0.06, -0.06, 1, 121.13, 47.91)">I</text>
        <text class="cls-8" transform="translate(133.46 48.46) rotate(14.94)">T</text>
        <text class="cls-8" transform="translate(148.48 52.55) rotate(26.27)">I</text>
        <text class="cls-8" transform="translate(159.66 57.73) rotate(37.99)">P</text>
        <text class="cls-8" transform="matrix(0.63, 0.78, -0.78, 0.63, 172.89, 67.97)">S</text>
        <text class="cls-9" transform="translate(80.01 201.07) rotate(27.26)">E</text>
        <text class="cls-9" transform="translate(90.8 206.64) rotate(17.61)">M</text>
        <text class="cls-9" transform="translate(106.28 211.25) rotate(7.45)">A</text>
        <text class="cls-9" transform="translate(119.63 212.84) rotate(-1.56)">K</text>
        <text class="cls-9" transform="translate(132.86 212.26) rotate(-9.39)">I</text>
        <text class="cls-9" transform="translate(142.63 210.68) rotate(-17.7)">N</text>
        <text class="cls-9" transform="matrix(0.89, -0.46, 0.46, 0.89, 156.47, 206.05)">A</text>
        <circle class="cls-10" cx="123.07" cy="121.15" r="108.32"/>
        <rect class="cls-6" x="599.45" y="329.23" width="11.29" height="2.83" rx="1.42" ry="1.42"
              transform="translate(-568.76 -179.77) rotate(-2.95)"/>
        <line class="st16" x1="190.9" y1="103.5" x2="207.8" y2="99.4"/>
        <line class="st16" x1="206" y1="142" x2="189.8" y2="135.9"/>
        <rect class="cls-6" x="610.91" y="361.76" width="11.4" height="2.83" rx="1.42" ry="1.42"
              transform="translate(777.99 102.77) rotate(145.57)"/>
        <rect class="cls-6" x="743.26" y="329.58" width="11.29" height="2.83" rx="1.42" ry="1.42"
              transform="translate(927.24 488.74) rotate(-177.05)"/>
        <line class="st16" x1="55.7" y1="103.5" x2="38.8" y2="99.4"/>
        <line class="st16" x1="40.7" y1="142" x2="56.8" y2="135.9"/>
        <rect class="cls-6" x="731.69" y="362.1" width="11.4" height="2.83" rx="1.42" ry="1.42"
              transform="translate(-217.86 -564.58) rotate(34.43)"/>
        <path class="cls-6" d="M702.83,314.57a2,2,0,0,0-1.3-1.2" transform="translate(-552.55 -211.35)"/>
    </svg>

{% endmacro %}

{% macro flash(type) %}
    {% if type %}
        {% for message in app.flashes(type) %}
            <div class="{{ type }}">
                {{ message }}
            </div>
        {% endfor %}
    {% else %}
        {% for type, messages in app.flashes %}
            {% for message in messages %}
                <div class="{{ type }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}
    {% endif %}
{% endmacro %}

