{% extends 'base.html.twig' %}

{% block pushContent %}
    <h2 class="primary">Apéritips</h2>
    <p>{# Description/ Concept / ... #}</p>
{% endblock %}



{% block mainContent %}
    <section id='actus'>
        <article>
            <h2 class="primary">Actus</h2>

            <p>Prochain Apéritips : <strong>{# Date et Heure #}</strong></p>

            <h3>Sujet</h3>

            <section class="articles">
                <article class="article">
                    <h4>
                        {# Titre #}
                    </h4>
                    <p>{# Description #}</p>
                    <span>{# Speaker(s) #}</span>
                </article>
            </section>

        </article>
    </section>

    <section class="next-subject" id='prochains-sujets'>
        <article>
            <h2 class="secondary">Prochains sujets</h2>

            <section class="articles">
                <article class="article">
                    <em>{# Vote #}</em>
                    <h4>
                        {# Titre #}
                    </h4>
                    <p>{# Description #}</p>
                    <span>{# Speaker(s) #}</span>
                </article>
            </section>

            <h3>Proposer un sujet </h3>

            <form method="post" action="#">
                <label for="participant">speaker(s)</label>
                <input type="text" name="participant" id="participant"/>
                <label for="sujet">Sujet</label>
                <input type="text" name="sujet" id="sujet"/>
                <label for="resume">Résumé</label>
                <textarea name="resume" id="resume"></textarea>
                <input type="submit" name="envoyer" value="Faire une proposition"/>
            </form>

        </article>
    </section>

    <section id='participants'>
        <article>
            <h2 class="primary">Participant</h2>

            <ul class="portraits">
                <li class="portrait">
                    <img src="{# url de l'avatar du speaker #}" alt="{# Speaker #}">
                    <div class="content-portrait">
                        <span class="name">{# Speaker #}</span>
                        <em class="email">{# Email du Speaker #}</em>
                        <span class="pres">{# Nombre #} Présentation(s)</span>
                    </div>
                </li>
            </ul>

        </article>
    </section>

    <section id='archive'>
        <article>
            <h2 class="secondary">Archive</h2>

            <h3>Ancien Sujet</h3>

            <section class="articles">
                <article class="article">
                    <h4>
                        {# Titre #}
                    </h4>
                    <p>{# Description #}</p>
                    <span>{# Speaker(s) #}</span>
                    <span>{# date de présentation#}</span>
                </article>
            </section>

        </article>
    </section>
{% endblock %}
