{% extends 'base.html.twig' %}
{% from 'elements/macro.html.twig' import logo %}

{% block pushContent %}
    <div class="push-container">
    <h2 class="primary">Apéritips</h2>

        <p>{# Description/ Concept / ... #}</p>

        {{ logo() }}
    </div>
{% endblock %}



{% block mainContent %}
    <section id='actus'>
        <article>
            <h2 class="primary">Actus</h2>

            <p>Prochain Apéritips : <strong>{# Date et Heure #}</strong></p>

            <h3>Sujet</h3>

            <section class="articles">
                <article class="article">
                    <h4>
                        {# Titre #}
                    </h4>
                    <p>{# Description #}</p>
                    <span>{# Speaker(s) #}</span>
                </article>
            </section>

        </article>
    </section>

    <section class="next-subject" id='prochains-sujets'>
        <article>
            <h2 class="primary">Prochains sujets</h2>

            <section class="articles">
                <article class="article">
                    <em>{# Vote #}</em>
                    <h4>
                        {# Titre #}
                    </h4>
                    <p>{# Description #}</p>
                    <span>{# Speaker(s) #}</span>
                </article>
            </section>

            <h3>Proposer un sujet </h3>

            <form method="post" action="#">
                <label for="speaker">speaker(s)</label>
                <input type="text" name="speaker" id="speaker"/>
                <label for="email">email(s)</label>
                <input type="text" name="email" id="email"/>
                <label for="sujet">Sujet</label>
                <input type="text" name="sujet" id="sujet"/>
                <label for="resume">Résumé</label>
                <textarea name="resume" id="resume"></textarea>
                <input type="submit" name="envoyer" value="Faire une proposition"/>
            </form>

        </article>
    </section>

    <section id='participants'>
        <article>
            <h2 class="primary">Participant</h2>

            <ul class="speakers">
                <li class="speaker">
                    <img src="{{ asset('assets/images/default.svg') }}" alt="agl">
                    <div class="content-speaker">
                        <span class="name">{# Speaker #}</span>
                        <em class="email">{# Email du Speaker #}</em>
                        <span class="pres">{# Nombre #} Présentation(s)</span>
                    </div>
                </li>
            </ul>

        </article>
    </section>

    <section id='archive'>
        <article>
            <h2 class="primary">Archive</h2>

            <h3>Ancien Sujet</h3>

            <section class="articles">
                <article class="article">
                    <h4>
                        {# Titre #}
                    </h4>
                    <p>{# Description #}</p>
                    <span>{# Speaker(s) #}</span>
                    <span>{# date de présentation#}</span>
                </article>
            </section>

        </article>
    </section>
{% endblock %}
